{% extends 'web/layout.html' %}
{% load static %}

{% block title %}
    VedRX - About
{% endblock %}

{% block body %} 
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 mx-auto">
                <h2>Philosophy and Idea behind the project</h2><hr>
                <p>Our project, “VedRX” is a sophisticated and user-friendly platform designed to empower individuals in finding medication for a wide range of health issues, with common ailments. <br> At its core, the platform provides a health assessment tool, allowing users to input information about their problem, symptoms, and etc. <br>Leveraging AI technology, the platform generated personalized recommendations tailored to each user. <br>These recommendations encompass a wide range of ayurvedic cures, to further enhance the user experience, ensuring user data is compliant with relevant healthcare regulations. <br>By offering a holistic approach to health management through ayurvedic cures, our platform aims to empower individuals to take control of their well-being through natural remedies and make informed non-detrimental decisions about their health.</p>
                <br><br>
                <p><strong>When submitting parts of the answers be patient as the ai could take time to process your request. </strong></p>
            </div>
        </div>
</section>


{% endblock %}