{% extends 'web/layout.html' %}
{% load static %}
{% block title %}
    VedRX - New Solution
{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold">Get a new Solution</h3>
                    <p class="fw-bold text-success mb-2">Describe the medical issue.....</p>
                    
                    <form class="text-center" method="post" action="{% url 'web:newSolution' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <textarea class="form-control" type="text" name="question" placeholder="Describe the problem...." cols="50", rows="10" fixed></textarea>
                        </div>
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}